:root {
  --beige: #f5f1e4;
  --blue: #1d0680;
  --teal: #068080;
  --light-maroon: #d4431c;
  --maroon: #c43812;
  --dark-maroon: #87250b;

  --warning-yellow: #cdeb00;
  --warning-yellow-dark: #95ab00;

  --yellow: rgb(240, 171, 0);
  --black: #000;
  --white: #fff;

  --floral-white: #fbfaf0;
  --pale-white: #fefefb;
  --grey: #8c8c8b;
  --dark-grey: #40403b;

  --nearly-black: #191918;

  --body-bg: var(--beige, antiquewhite);
  --body-color: var(--maroon);

  --link-color: var(--black);
  --link-color-hover: var(--warning-yellow-dark);
  --link-color-active: var(--warning-yellow);
}
