@import "modern-css-reset";

@import "./settings/colors";
@import "./settings/typography";

html,
body {
  /* padding: 0;
  margin: 0; */
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: var(--font-family-primary);
  background-color: var(--pale-white);
  color: var(--nearly-black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.recipe-card {
  background-color: lavender;

  & .recipe-title {
    color: purple;
  }
}