@import "modern-css-reset";

@import "./settings/colors";
@import "./settings/fonts";
@import "./settings/typography";
@import "./settings/units";

html,
body {
  /* padding: 0;
  margin: 0; */
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: var(--font-family-primary);
  background-color: var(--pale-white);
  color: var(--nearly-black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.recipe-card {
  background-color: lavender;

  & .recipe-title {
    color: purple;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  letter-spacing: -0.02em;
}