.header {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--pale-white);
  padding: var(--edge-space);

  & h1 {
    line-height: 1;
    /* text-transform: uppercase; */
    letter-spacing: -0.07em;
  }
}

/* .title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    text-decoration: none;
  }
} */

.title {
  margin: 0;
  line-height: 1.1;
  font-size: 7vw;

  & a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: var(--almost-black);
    text-decoration: none;

    &:hover svg {
      color: var(--yellow);
    }
    &:active svg {
      color: var(--warning-yellow);
    }
  }
}

.logo {
  height: 0.8em;
  fill: var(--warning-yellow-dark);
}
