.header {
  background-color: var(--pale-white);
  padding: var(--edge-space);

  & h1 {
    /* text-transform: uppercase; */
    letter-spacing: -0.07em;
  }
}

.title a {
  /* color: #0070f3; */
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  /* text-decoration: underline; */
}

.title {
  margin: 0;
  line-height: 1.1;
  font-size: 7vw;

  & a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--almost-black);

    &:hover svg {
      color: var(--yellow);
    }
    &:active svg {
      color: var(--warning-yellow);
    }
  }
}

.title,
.description {

}

.logo {
  height: 0.8em;
  fill: currentColor;
}