.header {
  background-color: var(--pale-white);
  padding: var(--edge-space);

  & h1 {
    /* text-transform: uppercase; */
    letter-spacing: -0.07em;
  }
}

.title a {
  /* color: #0070f3; */
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  /* text-decoration: underline; */
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 100px;
}

.title,
.description {

}