.recipe {}

.recipe :global {
  & .attribution {
    padding: 0 var(--edge-space) var(--edge-space);
  }

  & .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;

    &.padding {
      padding-top: var(--section-padding-y);
      padding-bottom: var(--section-padding-y);
    }
  }
  
  & .ingredients,
  & .instructions {
    font-size: 18px;
  }
}