.recipe-card {
  --link-color-hover: var(--black);
  --link-color-active: var(--white);

  height: 100%;
  padding: var(--spacer-s) var(--spacer-s) var(--spacer);
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 2px solid var(--warning-yellow);
  border-radius: 6px;
  transition: color 0.15s ease, border-color 0.15s ease, background-color 350ms ease,
    transform 0.15s ease;

  & a {
    text-decoration: none;
  }

  & picture {
    transition: opacity 350ms;
  }

  &:hover {
    transform: translateY(-4px);
    background-color: var(--warning-yellow);

    & img,
    & picture {
      /* opacity: 0.75; */
    }

    & .attribution {
      opacity: 1;
    }
  }

  & .attribution {
    font-size: 14px;
    opacity: 0.3;
  }
}

.attribution {
  font-size: 14px;
}

.title {
  margin: 0;
  font-size: 32px;
  line-height: 1.1;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.image {
  margin-bottom: 10px;
}
