.recipe-card {
  /* margin: 1rem; */
  /* flex-basis: 45%; */
  height: 100%;
  padding: var(--edge-space);
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  transition: color 0.15s ease, border-color 0.15s ease;
  
  & a:hover {
    color: var(--yellow);

    & img {
      opacity: 0.75;
    }
  }

  & a:hover,
  & a:focus,
  & a:active {
    /* color: var(--maroon);
    border-color: var(--maroon); */
  }
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.title {
  margin: 0;
  font-size: 32px;
  line-height: 1.1;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.image {
  margin-bottom: 10px;
}
