@import "./settings/breakpoints";

.recipe {
}

.recipe :global {
  & .wrapper {
    &.padding {
      padding-top: var(--section-padding-y);
      padding-bottom: var(--section-padding-y);
    }
  }

  & .estimated-time {
    margin-bottom: var(--edge-space);
    color: var(--grey);
    font-size: 14px;

    & .time-label {
      display: block;
    }
  }

  & .ingredients,
  & .instructions {
    font-size: 18px;
  }

  & .instructions {
    letter-spacing: -0.5px;
  }
}

.attribution {
  padding: var(--edge-space);
  text-align: center;
}

.vitals {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-bottom: 40px;

  @media (--medium) {
    grid-template-columns: 35% 1fr;
  }
}

.instructionsWrapper {
  margin-top: var(--spacer);
}

.featuredImage {
  width: 100%;
  min-height: 100vh;

  & img {
    object-fit: cover;
  }
}

.recipeMeta {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacer);

  @media (--medium) {
    grid-template-columns: 1fr 1fr;
  }
}

.categoriesList {
  display: flex;
  gap: var(--spacer);
  margin: var(--spacer) 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  color: var(--dark-grey);
}

.contextContent {
  margin-top: var(--spacer);
}

.ingredientsInner {
  position: sticky;
  top: var(--spacer);
}
